:root {
  color-scheme: dark;
}

* {
    color: white;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(32, 32, 32);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 8px;
    min-width: 350px;
}

*::selection {
    background-color: white;
    color: black;
}

#wrapper {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 1.5em);
    gap: 1em;
}

main {
    flex: 1;
}

#topbar {
    display: grid;
    grid-template-columns: 52px 1fr;
    width: 100%;
    background-color: rgb(62, 62, 62);
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    user-select: none;
}

.toph2 {
    margin-top: 0;
}

footer {
    width: 100%;
    height: 2em;
    border-top: solid white 2px;
    text-align: center;
}

.topHeader {
    width: 300px;
    margin-bottom: -11px;
    shape-rendering: crispEdges;
}

h2 {
    font-weight: 600;
}

.linkButton {
    transition: background-color 300ms, color 300ms;
}

.linkButton:hover {
    transition: background-color 300ms, color 300ms;
    background-color: rgb(255, 255, 255);
    color: black;
}

nav {
    grid-column: span 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
    width: 100%;
}

nav a {
    font-size: 1.2em; 
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 8px;
    text-transform: capitalize;
    width: 100%;
    font-weight: 700;
}

nav:not(#homeNav) a {
    text-align: center;
}

nav a:hover {
    border-color: rgb(255, 255, 255);
}

#homeNav {
    margin-top: 1em;
    flex-direction: column;
    text-align: left;
    gap: 1em;
}

#homeNav a {
    background-color: rgb(62, 62, 62);
    padding: 14px;
    border-radius: 12px;
    font-size: 1.2em;
}

.selected {
    background-color: rgb(255, 255, 255);
    color: black;
}

.back {
    width: 100%;
}

.hero {
    width: 100%;
    height: 50vw;
    max-height: 350px;
    min-height: 150px;
    background-image: url(hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    border-radius: 12px;
}

#logo {
    width: 40px;
    height: 40px;
    background-image: url(logo.webp);
    background-size: cover;
    margin-top: 0;
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    border-radius: 8px;
}

.flexcontent {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contentheader {
    width: 20%;
    text-wrap: nowrap;
}

.content {
    width: auto;
}

#gallery {
    column-count: 2;
    column-gap: 16px;
    row-gap: 10px;
    width: 100%;
}

.photoGrid {
    width: 100%;
    height: 100%;
}

#gallery img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

#morePhotos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.photoLinks {
    background-color: rgb(63, 63, 63);
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.footertext {
    padding-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-size: 16px;
}

input, textarea {
    width: 100%;
    background-color: rgb(63, 63, 63);
    padding: 16px;
    border-radius: 12px;
    box-sizing: border-box;
    border-width: 0;
    transition: box-shadow 0.2s ease-in-out;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px 2px #ffffff; 
    transition: box-shadow 0.2s ease-in-out;
}

#submit {
    font-size: 1em;
    padding: 0.7em;
    box-shadow: 0 0 0 0 #ffffff; 
}

textarea {
    height: 300px;
    resize: none;
}

.error {
    color: rgb(255, 68, 68);
    font-style: italic;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(62, 62, 62);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(83, 83, 83);
}

/* Responsive Media Queries */

@media (min-width: 650px){
    body {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        grid-column: 2;
    }

    nav {
        grid-column: 3;
        flex-direction: row;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        grid-row: 1;
    }

    nav a {
        padding: 6px;
        padding-left: 9px;
        padding-right: 9px;
    }

    #homeNav a:hover {
        background-color: rgb(255, 255, 255);
    }

    #topbar {
        grid-template-rows: 1fr;
    }
    
    .flexcontent {
        flex-direction: row;
    }

    .content {
        width: auto;
    }

    input, textarea {
        width: 1fr;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }
    
    #gallery img {
        width: 100%;
        transition: filter 200ms;
        box-sizing: border-box;
        break-inside: avoid;
    }
    
    #gallery img:hover {
        filter: brightness(80%);
    }

    #morePhotos {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    #gallery {
        column-count: 2;
        column-gap: 16px;
    }
}

@media (min-width:900px){
    #gallery {
        column-count: 3;
    }
}

@media (max-width:500px){
    #gallery {
        column-count: 1;
    }
}

@media (max-width: 410px){
    #topbar {
        grid-template-columns: 0px 100%;
    }

    #logo {
        width: 0px;
    }

    .topHeader{
        margin-left: auto;
        margin-right: auto;
    }
}
